.clear {clear:both;overflow: hidden;}
.fl {float:left;}
.fr {float:right;}
.alert { word-wrap:break-word; overflow:hidden;}
.alert a {text-decoration: underline;;}
.btn-smooth {border-radius:15px;color: #337ab7;}
.font-red {color:#ff0000;}
body {margin-top: 50px;}
/* Header */
.bs-docs-nav{margin-bottom:0;background-color:#fff;border-bottom:0}
.bs-home-nav .bs-nav-b{display:none}
.bs-docs-nav .navbar-brand,.bs-docs-nav .navbar-nav>li>a{font-weight:500;color:#563d7c}
.bs-docs-nav .navbar-nav>.active>a,.bs-docs-nav .navbar-nav>.active>a:hover,.bs-docs-nav .navbar-nav>li>a:hover{color:#463265;background-color:#f9f9f9}
.bs-docs-nav .navbar-toggle .icon-bar{background-color:#563d7c}
.bs-docs-nav .navbar-header .navbar-toggle{border-color:#fff}
.bs-docs-nav .navbar-header .navbar-toggle:focus,.bs-docs-nav .navbar-header .navbar-toggle:hover{background-color:#f9f9f9;border-color:#f9f9f9}
.navbar { -webkit-box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);-moz-box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);border-bottom: 1px solid #dddddd; }
.navbar .fr {padding-top: 13px;}
.navbar .fr .badge {background-color:#ec971f;}
/* Content */
.banner1 {background-color: #ccc;color:#fff;}

.modal .modal-body .warning{color:#ec971f;}
.modal .modal-body .danger{color:#c9302c;}

.update {padding-top:30px;}
.update .alert {margin-bottom: 0;}
.update .dec {margin: 15px 0;}
.update .clear .btn {width:49%;}
.update h1, .update h2 {margin: 0;font-weight: 700;}

.server_list table tr td {padding: 15px;}
.server_list .btn, .server_list .btn-group {border-radius:25px; margin-left: 15px;}
.server_list .form-control, .server_list .input-group {width:100px;}
.server_list .fl{ line-height: 33px;}
.server_list .fl label {margin: 0;padding: 0;font-weight: 400;}
.server_list .fl label small {color:#aaa;}
.server_list .fr {}
.server_list .server_header .fl{width:30%;}
.server_list .server_header .fr{width:70%;}
.server_list img {border: 1px solid #ddd;}
.server_list .btn {padding-left: 15px; padding-right: 15px;}
.server_list .glyphicon-menu-right { margin-left: 3px; }

.footer {color:#999; font-style: italic;text-align: right;padding-bottom: 15px;}

/* Switch Metro */
.switch-toggle.switch-metro {font-size: 14px;background-color: #fff;border-radius: 4px;}
.switch-toggle.switch-metro label {font-weight: 400;padding: 4px 0;color: #bbb;text-align: center;text-shadow:none;}
.switch-metro input:checked + label {color: #fff;}
.switch-metro a {border: 1px solid #fff;border-radius: 4px;background-color: #70c66b;}
/*  Switch iOS */
.switch-ios.switch-toggle {box-shadow: none;background-color: #e2e2e2;}
.switch-ios input:checked + label {color:#fff; font-weight: normal;}
.switch-ios.switch-light > span span:last-of-type,.switch-ios.switch-light > span span:first-of-type {padding-left: 0; padding-right: 0; }
.switch-light.switch-ios span { height: 2.4em; }
.switch-light.switch-ios span span { line-height: 2.4em; }
.switch-light.switch-ios a { width: 2.4em; height: 2.4em; }
.switch-ios.switch-light input:checked ~ span a { margin-left: -2.4em; }
.switch-ios, .switch-ios label {font-size: 16px; font-weight: 400; line-height: 2.4em; }
@media (max-width:767px) {
	.server_list {padding-left: 0; padding-right: 0;}
	.server_list .server_control .btn-right {display: inline-block;}
}

.install-body {background-color: #7f699c;}
.install {color:#fff;background-color: #7f699c; background-image: -webkit-gradient(linear,left top,left bottom,from(#51007e),to(#7f699c)); background-image: -webkit-linear-gradient(top,#51007e 0,#7f699c 100%); background-image: -o-linear-gradient(top,#51007e 0,#7f699c 100%); background-image: linear-gradient(to bottom,#51007e 0,#7f699c 100%); filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#51007e', endColorstr='#7f699c', GradientType=0); background-repeat: repeat-x;}
.install a {color:#ec971f;}
.install .title {font-size:30px; font-weight: 700; color:#fff; text-align: center;margin-top: 50px;}
.install .title .glyphicon{font-size:26px; margin-right: 8px;}
.install .dec {font-size:14px; color:#fff;text-align: center;margin-bottom:20px;}
.install h2 {font-size:20px; font-weight:700; margin-top: 30px; color:#fff;}
.install label {font-weight: 400; color:#ccb2ea;}
.install .form-group {margin-bottom: 10px;}
.install .btn {margin:20px 0;}
.install .footer {font-size:13px; color:#b1a4c2;border-top:1px solid #b1a4c2;padding-top: 5px;margin-top: 5px;}
.install .clear .btn {width:49%;}
.install .one-button .btn {width:100%;}
.install .one-button .btn-danger {margin-bottom: 10px;}
.install .dec-center {text-align: center;padding-bottom: 30px;}
.install .dec-center .btn {margin-top: 10px;margin-bottom: 0;}

.main {color:#333;padding-top: 10px;}
.main .title {font-size:20px; font-weight:700; margin-top: 15px;}
.main .dec {color:#999;}
.main form {padding-bottom:15px; border-bottom: 1px solid #eeeeee;}
.main .footer {font-size:13px; color:#ccc; padding-top: 5px;margin-top: 5px;}
.main .btn-smooth {margin-top: 5px;margin-bottom: 15px;}
.main .alert {margin-top: 15px;}
.main .form-group.switch {margin-bottom: 5px;}

.modal .version {color:#ec971f;}

.shadowsocks form, .server_list form {margin-top: 15px;border-bottom: 0px;}
